.elementContainer{
    padding: 7rem 3rem;
}
.imgElement{
    width: 100%;
    border-radius: 0.5rem;
}
.textContainer{
    padding: 2rem;
}
.textContainer h1{
    text-align: center;
    font-family: var(--Title-Font);
    font-weight: 300;
    font-size: 3rem;
    color: var(--Very-Dark-Gray);
    margin: 3rem 0;
}

.textContainer p{
    text-align: center;
    font-family: var(--Paragraph-Font);
    font-weight: 300;
    font-size: 1.5rem;
    color: var(--Dark-Gray);
    margin: 0 auto;
}

@media (min-width: 810px){
    .elementContainer{
        display: flex;
        max-width: 140rem;
        margin: 10rem auto;
        position: relative;
    }
    .imgElement{
        width: 60%;
    }

    .textContainer{
        background-color: white;
        position: absolute;
        padding: 6rem;
        width: 45rem;
        top: 40%;
        left: 50%;
    }

    .textContainer h1{
        text-align: start;
    }

    .textContainer p{
        text-align: start;
    }
}