.bgImg{
    height: 100vh;
    background: url(../../assets/images/mobile/image-hero.jpg);
    background-position: center;
    background-repeat: none;
    background-size: cover;
    overflow: hidden;
}
.Header{
    padding: 3rem;
    position: fixed;
    width: 100%;
    z-index: 888;
    transition: 0.3s;
}
.ContainerCenterHeader{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.HeaderChangeBG{
    transition: 0.3s;
    background-color: black;
}

.textContainer{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.textContainer div{
    padding: 1.5rem;
    width: 100%;
    border: 2px solid white;
    line-height: 0.9;
}

.textContainer h1{
    font-family: var(--Title-Font);
    font-size: 4rem;
    font-weight: 300;
    color: white;
}

@media (min-width: 810px){
    .bgImg{
        height: 100vh;
        background: url(../../assets/images/desktop/image-hero.jpg);
        background-position: center;
        background-repeat: none;
        background-size: cover;
        overflow: hidden;
    }
    .ContainerCenterHeader{
        display: flex;
        justify-content: space-between;
        max-width: 140rem;
        margin: 0 auto;
    }

    .textContainer{
        max-width: 145rem;
        height: 100%;
        margin: 0 auto;
        padding: 0 3rem;
        display: flex;
        align-items: center;
        justify-content: start;
        
    }
    .textContainer div{
        padding: 4rem;
        max-width: fit-content;
        border: 3px solid white;
    }

    .textContainer h1{
        font-family: var(--Title-Font);
        font-size: 7rem;
        font-weight: 300;
        color: white;
    }

    


}





